.article-title{
    height: 20%;
    top: 50;
}
.article-title p {
    font-size: 20pt;
    font-weight: bold;
    padding-top: 1%;
}

.author-date{
    display: flex;
    margin-bottom: 1%;
    height: fit-content;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-2%);
    border-bottom: 1px solid rgb(41, 40, 40);
}
.author-date p{
    padding-top: 5px;
    font-size: 10pt;
}
.author{
    margin-left: 1%;
}
.date{
    margin-left: 3%;   
}

.low-nav{
    height: 40px;
    display: flex;
}
#add{
    margin-top: 2px;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(109, 18, 109);
    border: 1px solid rgb(173, 13, 173);
    margin-left: 80%;
}
#add:hover{
    background-color: rgb(199, 15, 199);
    color: white;
}
.home{
    margin-left: 5%;
}
.home:hover{
    background-color: rgb(167, 13, 167);
    color: white;
    transition: ease-in-out;
    transition-duration: .5s;
}

.low-nav{
    height: 40px;
    display: flex;
}
#add{
    margin-top: 2px;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(109, 18, 109);
    border: 1px solid rgb(173, 13, 173);
    margin-left: 80%;
}
#add:hover{
    background-color: rgb(199, 15, 199);
    color: white;
}
.home{
    margin-left: 5%;
}
.home:hover{
    background-color: rgb(167, 13, 167);
    color: white;
    transition: ease-in-out;
    transition-duration: .5s;
}

