<div class="container" *ngIf="post">
    <div class="article-title">     
        <p class="title">{{ post.title }}</p>
    </div>
    <div class="author-date">
        <p class="author"><i class="bi bi-person-circle" style="margin-right: 10px; font-size: 16pt;"></i>{{ post.author }}</p>
        <p class="date"><i class="bi bi-calendar-check-fill" style="margin-right: 10px; font-size: 16pt;"></i>{{ post.date |date}}</p>
    </div>
    <div class="content">
        <p>{{ post.content }}</p>
    </div>
</div>