<section class="container">    
    <div class="articles" *ngIf="posts">
        <ul>
            <a *ngFor="let post of posts| paginate : { itemsPerPage: 10, currentPage: page}" routerLink="/article/view/{{ post._id }}">
                <mat-card class="article-card">
                    <div class="article-title">
                        <p class="title">{{ post.title }}</p>
                        <p class="description">{{ post.title }}</p>
                    </div>
                    <div class="author-date">
                        <p><i class="bi bi-person-circle" style="margin-right: 7px; font-size: 12pt;"></i>{{ post.author|titlecase }}</p>
                        <p class="article-date"><i class="bi bi-calendar-check-fill" style="margin-right: 7px; font-size: 12pt;"></i>{{ post.date |date }}</p>
                    </div>
                </mat-card>
            </a>
            <div class="pagination-controls container" style="text-align: center;">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </ul>
    </div>
</section>

<router-outlet></router-outlet>