<title>
{{ title }}
</title>

<nav class="navbar navbar-expand-lg">

<div class="container" id="top-nav">
  <div class="title-logo navbar-brand">
    <img id="logo" src="../assets/images/Anne.png" alt="Company logo">
  </div>
  <div class="nav-ls">
    <ul>
      <li class="nav-item"><a class="nav-link" href="" routerLink="/dashboard">Technology</a></li>
      <li class="nav-item"><a class="nav-link" href="">Innovations</a></li>
      <li class="nav-item"><a class="nav-link" href="">AI</a> AI</li>
      <li class="nav-item"><a class="nav-link" href="">E-waste</a></li>
    </ul>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
