<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

<title>
{{ title }}
</title>

<router-outlet></router-outlet>

<div class="spinner" *ngIf="loading">
  <div class="bounce1" style="background-color: rgb(57, 57, 199);"></div>
  <div class="bounce2" style="background-color: rgb(57, 57, 199);"></div>
  <div class="bounce3" style="background-color: rgb(57, 57, 199);"></div>
</div>



<!--
<mat-progress-spinner [mode]="'indeterminate'" class="mat-progress-spinner" *ngIf="loading"></mat-progress-spinner>-->
