<link rel="stylesheet" href="/src/assets/css/all.min.css">
<section class="container">
    <div class="blog-controls">
        <p>Articles</p>
    </div>

    <div class="articles">
        <ul>
            <a *ngFor="let post of posts" routerLink="/article/{{ post._id }}">
                <li class="article-card">
                    <div class="article-title">
                        <p class="title">{{ post.title }}</p>
                        <p class="description">{{ post.title }}</p>
                    </div>
                    <div class="author-date">
                        <p>Author: {{ post.author }}</p>
                        <p date="article-date">Date Published: {{ post.date |date }}</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>

    <div class="page-controls" class="form-group">
        <div *ngFor="let n of num|keyvalue" >
            <p>it is {{ n.value }} </p>
        </div>
        <label for="pages">Navigate pages obk</label>
        <select name="pages" id="Pages">
            <option value="1" [value]="pageNum">1</option>
        </select>
    </div>
</section>

<router-outlet></router-outlet>