<link rel="stylesheet" href="/src/assets/css/all.min.css">
<section class="container">
    <div class="blog-controls">
        <p>Articles</p>
    </div>

    <div class="articles">
        <ul>
            <li class="article-card">
                <div class="article-title">
                    <p class="title">This is the first article</p>
                    <p class="description">This is a brief description of the first article</p>
                </div>
                <div class="author-date">
                    <p>Author: Timothy Chalamet</p>
                    <p date="article-date">Date Published: 26-12-2021</p>
                </div>
            </li>
        </ul>
    </div>
</section>
