<div class="low-nav">
    <button mat-icon-button color="primary" class="home">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button color="primary" id="add" routerLink="/article/create/">Create</button>
</div>
<section class="container">    
    <div class="articles" *ngIf="posts">
        <ul>
            <!-- paginate : { itemsPerPage: 10, currentPage: page}-->
            <a *ngFor="let post of posts" routerLink="/article/view/{{ post._id }}">
                <mat-card class="article-card">
                    <div class="article-title">
                        <p class="title">{{ post.title }}</p>
                        <p class="description">{{ post.title }}</p>
                    </div>
                    <div class="author-date">
                        <p><i class="bi bi-person-circle" style="margin-right: 7px; font-size: 12pt;"></i>{{ post.author|titlecase }}</p>
                        <p class="article-date"><i class="bi bi-calendar-check-fill" style="margin-right: 7px; font-size: 12pt;"></i>{{ post.date |date }}</p>
                        <p class="category-tag"><i class="bi bi-tag" style="margin-right: 10px; font-size: 12pt;"></i>{{ post.category |titlecase}}</p>
                    </div>
                </mat-card>
            </a>
            <!--(pageChange)="page = $event-->
            <div class="pagination-controls container" style="text-align: center;">
             <!--   <pagination-controls (pageChange)="page = $event"></pagination-controls>-->
            </div>
        </ul>
        <div class="pagination-controls container" style="text-align: center;">
            <i id="prev" class="bi bi-arrow-left-short" (click)="getPrevPage()"></i>
            <i id="next" class="bi bi-arrow-right-short" (click)="getNextPage()"></i>
        </div>
    </div>
</section>

<router-outlet></router-outlet>