<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!--comment section-->

<!--my version-->

<div class="container">
  <mat-card class="card">
    <form name="comment" [formGroup]="commentForm">
      <div class="comment-head">
        <mat-card-subtitle>
          Add a comment
        </mat-card-subtitle>
      </div>
      <mat-card-content>
        <div class="text-area">
            <textarea required style="color: black;" name="commentText" id="comment" cols="70" rows="2" placeholder="Add a comment" formControlName="content"></textarea>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions">
        <button mat-raised-button color="primary" class="sub-close">Close</button>
        <button mat-raised-button color="primary" type="submit" class="sub-close" (click)="onSubmit()">Comment</button>
      </div> 
    </mat-card-actions>   
    </form>
  </mat-card>

  <div class="display">
    <div class="head">
      <p>Comments</p>
    </div>
    <div class="no-comments" *ngIf="!comments">
      <p>There are no comments Yet</p>
    </div>
    <div class="comments-each" *ngIf="comments">
      <mat-card class="comment-card" *ngFor="let comment of comments">
        <mat-card-title style="color: black;">
          <span>Marry Andrews</span>
        </mat-card-title>
        <mat-card-subtitle style="color: black;">
          <span style="margin-left: 3px;">Shared publicly - 19/3/2021</span>
        </mat-card-subtitle>
        <mat-card-content style="color: black; font-size: 16px;" >
          <p>{{ comment.content }}</p>
        </mat-card-content>
        <mat-card-actions style="text-align: right; margin-right: 10%;">
          <mat-icon>mode_edit</mat-icon>
          <button class="com-actions" (click)="openDialog(comment._id)"><i class="bi bi-pencil-square"></i>Edit</button>
          <button class="com-actions"><i class="fa fa-thumbs-o-up"></i><span>Like</span></button>
          <!--<button class="com-actions"><i class="fa fa-commenting-o"></i>Reply</button>-->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
